{% extends 'patient/base_dashboard.html' %}
{% block title %}Book Appointment{% endblock %}
{% block nav_find_doctor %}active{% endblock %}

{% block content %}
<div class="card" style="max-width:600px;margin:auto;">
    <h1>Book Appointment</h1>
    <p>Dr. {{ doctor.fname }} {{ doctor.lname }} — <strong>{{ doctor.specialization }}</strong></p>

    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label>Select Date</label>
            <input type="date" name="date" class="form-input" min="{{ today|date:'Y-m-d' }}" required>
        </div>

        <div class="form-group">
            <label>Select Time Slot</label>
            <select name="time" class="form-select" required>
                {% for t in slots %}
                <option value="{{ t }}">{{ t }}</option>
                {% empty %}
                <option disabled>No slots available</option>
                {% endfor %}
            </select>
        </div>

        <button class="btn-submit btn-submit-green" style="margin-top:1rem;">Confirm Appointment</button>
    </form>
</div>
{% endblock %}
